<link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Roboto_old:wght@300;400;500;700&amp;family=YouTube+Sans:wght@300..900&amp;display=swap" nonce="" class="css-httpsfontsgoogleapiscomcss2familyRoboto_oldwght300400500700familyYouTubeSanswght300900displayswap"><script name="www-roboto" nonce="">if (document.fonts && document.fonts.load) {
    document.fonts.load("400 10pt Roboto", "");
    document.fonts.load("500 10pt Roboto", "");
}

</script><script name="www-roboto" nonce="">if (document.fonts && document.fonts.load) {
    document.fonts.load("400 10pt Roboto", "");
    document.fonts.load("500 10pt Roboto", "");
}

</script><script name="www-roboto" nonce="">if (document.fonts && document.fonts.load) {
    document.fonts.load("400 10pt Roboto", "");
    document.fonts.load("500 10pt Roboto", "");
}

</script><script name="www-roboto" nonce="">if (document.fonts && document.fonts.load) {
    document.fonts.load("400 10pt Roboto", "");
    document.fonts.load("500 10pt Roboto", "");
}

</script><script name="www-roboto" nonce="">if (document.fonts && document.fonts.load) {
    document.fonts.load("400 10pt Roboto", "");
    document.fonts.load("500 10pt Roboto", "");
}

</script><script name="www-roboto" nonce="">if (document.fonts && document.fonts.load) {
    document.fonts.load("400 10pt Roboto", "");
    document.fonts.load("500 10pt Roboto", "");
}

</script><script name="www-roboto" nonce="">if (document.fonts && document.fonts.load) {
    document.fonts.load("400 10pt Roboto", "");
    document.fonts.load("500 10pt Roboto", "");
}

</script><script name="www-roboto" nonce="">if (document.fonts && document.fonts.load) {
    document.fonts.load("400 10pt Roboto", "");
    document.fonts.load("500 10pt Roboto", "");
}

</script><script name="www-roboto" nonce="">if (document.fonts && document.fonts.load) {
    document.fonts.load("400 10pt Roboto", "");
    document.fonts.load("500 10pt Roboto", "");
}

</script><script name="www-roboto" nonce="">if (document.fonts && document.fonts.load) {
    document.fonts.load("400 10pt Roboto", "");
    document.fonts.load("500 10pt Roboto", "");
}

</script><script name="www-roboto" nonce="">if (document.fonts && document.fonts.load) {
    document.fonts.load("400 10pt Roboto", "");
    document.fonts.load("500 10pt Roboto", "");
}

</script><script name="www-roboto" nonce="">if (document.fonts && document.fonts.load) {
    document.fonts.load("400 10pt Roboto", "");
    document.fonts.load("500 10pt Roboto", "");
}

</script><link rel="stylesheet" href="https://www.youtube.com/s/desktop/87990107/cssbin/www-main-desktop-home-page-skeleton.css" nonce="" class="css-httpswwwyoutubecomsdesktop87990107cssbinwwwmaindesktophomepageskeletoncss"><link rel="stylesheet" href="https://www.youtube.com/s/desktop/87990107/cssbin/www-onepick.css" nonce="" class="css-httpswwwyoutubecomsdesktop87990107cssbinwwwonepickcss"><link rel="stylesheet" href="https://www.youtube.com/s/_/ytmainappweb/_/ss/k=ytmainappweb.kevlar_base.ICvbVdu5h7g.L.F4.O/am=AABBAg/d=0/br=1/rs=AGKMywE5EgSsr5KypOAqyf1ouScX2zDvYw" nonce="" class="css-httpswwwyoutubecoms_ytmainappweb_sskytmainappwebkevlar_baseICvbVdu5h7gLF4OamAABBAgd0br1rsAGKMywE5EgSsr5KypOAqyf1ouScX2zDvYw"><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><style class="global_styles" nonce="">body {
    padding: 0;
    margin: 0;
    overflow-y: scroll
}

body.autoscroll {
    overflow-y: auto
}

body.no-scroll {
    overflow: hidden
}

body.no-y-scroll {
    overflow-y: hidden
}

.hidden {
    display: none
}

textarea {
    --paper-input-container-input_-_white-space: pre-wrap
}

.grecaptcha-badge {
    visibility: hidden
}

</style><form action="/results" class="ytSearchboxComponentSearchForm"><input name="search_query" type="text" autocomplete="off" autocorrect="off" aria-autocomplete="list" role="combobox" class="ytSearchboxComponentInput yt-searchbox-input title" placeholder="Pesquisar"></form><input name="search_query" type="text" autocomplete="off" autocorrect="off" aria-autocomplete="list" role="combobox" class="ytSearchboxComponentInput yt-searchbox-input title" placeholder="Pesquisar"></form><div class="ytSearchboxComponentYtdTextInputAssistantWrapper"><ytd-text-input-assistant class="ytdTextInputAssistantHost"><button class="ytdTextInputAssistantButton"><img class="ytdTextInputAssistantIcon" tia_field_name="search_query" tia_disable_swap="true" tia_property="youtube" src="//www.gstatic.com/inputtools/images/tia.png" alt=""></button></ytd-text-input-assistant></div><ytd-text-input-assistant class="ytdTextInputAssistantHost"><button class="ytdTextInputAssistantButton"><img class="ytdTextInputAssistantIcon" tia_field_name="search_query" tia_disable_swap="true" tia_property="youtube" src="//www.gstatic.com/inputtools/images/tia.png" alt=""></button></ytd-text-input-assistant><button class="ytdTextInputAssistantButton"><img class="ytdTextInputAssistantIcon" tia_field_name="search_query" tia_disable_swap="true" tia_property="youtube" src="//www.gstatic.com/inputtools/images/tia.png" alt=""></button><img class="ytdTextInputAssistantIcon" tia_field_name="search_query" tia_disable_swap="true" tia_property="youtube" src="//www.gstatic.com/inputtools/images/tia.png" alt=""></button>